<tr class="list-entry" @onclick="OnEntryClicked">
    <td class="list-time" style="white-space:nowrap">
        @Entry.GetTimeString()
    </td>
    <td class="list-date">
        @Entry.Start.ToString(@"dd\ MMM\ yyyy")
    </td>
    <td class="list-start">
        @Entry.GetStartString() - @Entry.GetEndString()
    </td>
    <td class="list-title">
        @Entry.Title
    </td>
    <td class="list-description">
        @Entry.Description
    </td>
    @if(ShowNames)
    {
        <td class="list-description">
            @Entry.Username
        </td>
    }
</tr>



