<div class="entry" @onclick="OnClick">
    <div class="entry-date">
        @Entry.Start.Date.ToString(@"dd\.MM\.yyyy")
    </div>
    <div class="entry-time">
        @Entry.GetStartString() - @Entry.GetEndString()
    </div>
    <div class="entry-title">
        @Entry.Title
    </div>
    <div class="entry-total">
        <div>@Entry.GetTimeString()</div>
        <div class="entry-username">@Entry.Username</div>
    </div>
    <div class="entry-description">
        @Entry.Description
    </div>
</div>