<tr class="list-entry">
    <td class="list-time" style="white-space:nowrap">
        @Entry.GetTimeString()
    </td>
    <td class="list-date">
        @Entry.Start.ToString(@"dd\ MMM\ yyyy")
    </td>
    <td class="list-start">
        @Entry.GetStartString()
    </td>
    <td class="list-start">
        @Entry.GetEndString()
    </td>
    <td class="list-title">
        @Entry.Title
    </td>
    <td class="list-description">
        @Entry.Description
    </td>

</tr>


