<tr class="list-entry">
    <td class="list-time">
        @Entry.Time.ToString(@"h\h\ mm\m")
    </td>
    <td class="list-start">
        @Entry.Start.ToString(@"h\:mm")
    </td>
    <td class="list-start">
        @Entry.GetEndString()
    </td>
    <td class="list-date">
        @Entry.Start.ToString(@"d\.M\.yyyy")
    </td>
    <td class="list-title">
        @Entry.Title
    </td>
    <td class="list-description">
        @Entry.Description
    </td>

</tr>

@code {
    [Parameter]
    public TimeEntry Entry { get; set; }
}
