@page "/history"

<PageTitle>History</PageTitle>

<h1>History</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Entries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select size="10" style="width: 100%;">
        @foreach (var Entry in Entries)
        {
            <option value="@Entry.Id">
                @Entry.Title @Entry.GetDateString() @Entry.GetFromToString() <br>
                @Entry.GetTimeString()
                @Entry.Description 
            </option>
        }
    </select>
}

