@page "/history"

<PageTitle>History</PageTitle>

<h1>History</h1>


@if (Entries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p></p>
    <select class="list-list" size="10" style="width: 100%;">
        @foreach (var Entry in Entries)
        {
            <option class="list-option" value="@Entry.Id">
                <p class="list-header">@Entry.Title @Entry.GetDateString() @Entry.GetFromToString()</p>
                <p class="list-time">@Entry.GetTimeString()</p>
                <p class="list-description">@Entry.Description</p>
            </option>
        }
    </select>
}

