@page "/history"

@inject ITimeEntryProvider TimeEntrySource


<PageTitle>History</PageTitle>

<h1>History</h1>


@if (TimeEntries != null)
{
    <Widget Title="Sick Days" Text="@SickDays.ToString()" />
    <Widget Title="Overtime" Text="@Overtime.ToString(@"dd\d\ hh\h\ mm\m")" />

    <div class="@FilterCssClass">
        <p class="filter-title" @onclick="OnFilterClick">Filter Settings</p>
        <div style="@(FilterColapsed ? "display: none" : "")">
            <FilterPopUp Filter="@DateFilter" style="@(DateFilter.Enabled ? "" : "display: none")" />
            <FilterPopUp Filter="@TimeFilter" style="@(TimeFilter.Enabled ? "" : "display: none")" />
            <FilterPopUp Filter="@TitleFilter" style="@(TitleFilter.Enabled ? "" : "display: none")" />
        </div>
    </div>
    

    <table class="list" style="width: 100%">
        <tr>
            <th @onclick="TimeFilterClick">
                Time
            </th>
            <th @onclick="DateFilterClick">
                Date
            </th>
            <th>
                Start
            </th>
            <th>
                Stop
            </th>
            <th @onclick="TitleFilterClick">
                Activity
            </th>
            <th>
                Description
            </th>
        </tr>

        @foreach (var Entry in TimeEntries.Where(e => TitleFilter.MatchesCriteria(e.Title)))
        {
            <HistoryEntry Entry="@Entry"/>
        }
    </table>
}
else
{
    <p>Loading...</p>
}
