@page "/Time"

@inject ITimeEntryProvider TimeEntrySource
@inject IActivityProvider ActivitySource

@implements IDisposable


<PageTitle>Time</PageTitle>

<div class="btn-div">
	<RoundButton OnClick="ToggleClock" Started="@Started" Disabled="@Disabled"/>
</div>

 
@if (!Started)
{
	<div>
		<select class="select-activity-title" @bind="ActivityTitleSelect" style="width:100%; height:60%;">
			<option>@NEW_ACTIVITY_TITLE</option>
			@foreach (var Activity in ActivitySource.GetActivityTitles())
			{
				<option value="@Activity.Value">@Activity.Value</option>
			}
		</select>

		<textarea placeholder="Activity Title..." style=@(ActivityTitleSelect.Equals(NEW_ACTIVITY_TITLE) ? "" : "display: none;") @bind="ActivityTitle"></textarea>
		
		<select class="select-activity-description" @bind="ActivityDescriptionSelect" style="width:100%; height:60%;">
			<option>@NEW_ACTIVITY_DESCRIPTION</option>
			@foreach (var Activity in ActivitySource.GetActivityDescriptions())
			{
				<option value="@Activity.Value">@Activity.Value</option>
			}
		</select>

		<textarea placeholder="Activity Description..." style=@(ActivityDescriptionSelect.Equals(NEW_ACTIVITY_DESCRIPTION) ? "" : "display: none;") @bind="ActivityDescription"></textarea>
	</div>
}
else
{
	<div class="passed-time-text">@PassedTime.ToString(@"hh\:mm\:ss")</div>
}
