@page "/history"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>New History</PageTitle>


<AuthorizeView>
    <div class="history-page-body">
        <div class="info-body">
            <div class="flex-div-nowrap info-widgets">
                <Widget Title="Overtime" Text="@OvertimeDisplay" />
                <Widget Title="Overtime" Text="@OvertimeDisplay" />
            </div>

            <div class="history-filter-container">
                <div class="history-filter-title" @onclick="() => ShowFilters = !ShowFilters">
                    <p>Filter setting</p>
                    <p class="extended-arrow">@(ShowFilters ? "▲" : "▼")</p>
                </div>

                <div class="history-filter-settings history-filter-display-@(ShowFilters ? "block" : "none")">
                    <div class="flex-div-wrap">
                        @foreach (var Filter in Filters)
                        {
                            <p class="filter-control-element @(Filter.Enabled ? "filter-enabled" : "filter-disabled")" @onclick="() => OnFilterClicked(Filter)">
                                @Filter.Name
                            </p>

                            <p class="filter-x" @onclick="() => { Filter.Enabled = false; Filter.PopUp = false; }">
                                @(Filter.Enabled ? "🞩" : "")
                            </p>
                        }
                    </div>
                </div>

                @if (SelectedFilter is not null)
                {
                    <FilterPopUp Filter="SelectedFilter" />
                }
            </div>
        </div>
        
        <div class="entry-list-body">
            @if (TimeEntrySource.IsLoaded)
            {
                @foreach (var Entry in FilteredEntries.Take(LastCount))
                {
                    <HistoryEntry Entry="@Entry" />
                }
            }
        </div>
    </div>
</AuthorizeView>

