@page "/history"

@implements IDisposable
@inject ITimeEntryProvider TimeEntrySource

<PageTitle>History</PageTitle>

<h1>History</h1>


@if (TimeEntries != null)
{
    <div class="flex-div-nowrap">
        <Widget Title="Sick Days" Text="@SickDays.ToString()" />
        <Widget Title="Overtime" Text="@Overtime.ToString(@"dd\d\ hh\h\ mm\m")" />
    </div>

    <p class="filter-control-title" @onclick="() => ShowFilters = !ShowFilters">Filter Settings @(ShowFilters ? "▴" : "▾")</p>
    <div class="filter-container" style="@(ShowFilters ? "" : "display: none;")">
        <p class="filter-control-title">Enabled</p>
        <div class="flex-div-wrap">
            @foreach (IFilter Filter in Filters.Where(e => e.Enabled))
            {
                <p class="filter-control-element filter-enabled" @onclick="() => OnFilterClick(Filter)">
                    @Filter.Name
                    <svg @onclick="() => StopFilter(Filter)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter-x" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </p>
            }
        </div>

        <p class="filter-control-title">Disabled</p>
        <div class="flex-div-wrap">
            @foreach (IFilter Filter in Filters.Where(e => !e.Enabled))
            {
                <p class="filter-control-element filter-disabled" @onclick="() => OnFilterClick(Filter)">@Filter.Name</p>
            }
        </div>
        <p>@SearchResults results found</p>
    </div>
    @if (OpendFilter != null)
    {
        <FilterPopUp Filter="OpendFilter" />
    }

    <div class="list-container" style="height: 319.79px; overflow-y: scroll;">
        <table class="list" style="width: 100%">
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Date
                </th>
                <th>
                    Start
                </th>
                <th>
                    Stop
                </th>
                <th>
                    Activity
                </th>
                <th>
                    Description
                </th>
            </tr>
            @foreach (var Entry in TimeEntries.Where(e => DoFiltersApply(e)))
            {
                <HistoryEntry Entry="@Entry" />
            }
        </table>
    </div>



}
else
{
    <p>Loading...</p>
}


